/** @format */

.CardFormTable {
  width: 100%;

  th {
    width: 20%;
  }
  td {
    width: 80%;

    input {
      width: 100%;
    }
    textarea {
      width: 100%;
      height: 5rem;
    }
  }
}
